.antd-pro-layouts-user-layout-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    background: #f0f2f5;
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%
}




.antd-pro-layouts-user-layout-content {
    padding: 20% 0 24px
}


.antd-pro-layouts-user-layout-top {
    text-align: center
}



.antd-pro-layouts-user-layout-header a {
    text-decoration: none
}

.antd-pro-layouts-user-layout-logo {
    height: 44px;
    margin-right: 16px;
    vertical-align: top
}

.antd-pro-layouts-user-layout-title {
    position: relative;
    top: 2px;
    color: rgba(0, 0, 0, .85);
    font-weight: 600;
    font-size: 33px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif
}

.antd-pro-layouts-user-layout-desc {
    margin-top: 12px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, .65);
    font-size: 18px
}


.antd-pro-pages-user-login-main {
    width: 388px;
    margin: 0 auto
}

.antd-pro-pages-user-login-main .ant-form-item {
    margin-bottom: 18px;
}